[credential]
#	helper = osxkeychain # for Mac OS
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[color]
	ui = true
[alias]
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	grapha = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	co = checkout
[push]
	default = simple
[fetch]
	prune = true
[gitreview]
	username = {{ gitreview_username }}
[user]
	name = {{ name }}
	email = {{ mail_address }}

