[user]
	name = Yamato Tanaka
	email = violinvitali@gmail.com
[credential]
#	helper = osxkeychain # for Mac OS
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[color]
	ui = true
[alias]
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
    co = checkout
[push]
	default = simple
